<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.minibill.system.mapper.SysMenuMapper">

    <resultMap id="SysMenuMap" type="com.minibill.system.entity.SysMenu">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="path" property="path"/>
        <result column="component" property="component"/>
        <result column="permission" property="permission"/>
        <result column="type" property="type"/>
        <result column="parent_id" property="parentId"/>
        <result column="sort" property="sort"/>
        <result column="icon" property="icon"/>
        <result column="visible" property="visible"/>
    </resultMap>

    <select id="getMenusByUserId" resultMap="SysMenuMap">
        SELECT DISTINCT m.* FROM sys_role_menu rm
        LEFT JOIN sys_menu m ON rm.menu_id = m.id
        WHERE rm.role_id IN (SELECT role_id FROM sys_user_role WHERE user_id = #{userId})
        AND m.del_flag = 0 AND m.visible = 0
        ORDER BY m.sort ASC
    </select>

</mapper>
