<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.minibill.bus.mapper.BusItemCostMapper">

    <select id="pageCostWithItem" resultType="com.minibill.bus.entity.BusItemCost">
        SELECT c.id, c.item_id, c.cost_date, c.mileage, c.cost, c.remark,
               c.create_time, c.update_time, c.create_by, c.update_by, c.del_flag,
               i.name AS item_name,
               i.address_id,
               a.name AS address_name
        FROM bus_item_cost c
        LEFT JOIN bus_item i ON c.item_id = i.id
        LEFT JOIN bus_address a ON i.address_id = a.id
        <where>
            c.del_flag = 0
            <if test="familyId != null">AND i.family_id = #{familyId}</if>
            <if test="addressId != null">AND i.address_id = #{addressId}</if>
            <if test="itemId != null">AND c.item_id = #{itemId}</if>
            <if test="costDateStart != null and costDateStart != ''">AND c.cost_date &gt;= #{costDateStart}::date</if>
            <if test="costDateEnd != null and costDateEnd != ''">AND c.cost_date &lt;= #{costDateEnd}::date</if>
        </where>
        ORDER BY c.cost_date DESC
    </select>

</mapper>
